site_name: MuSpinSim Documentation

theme: readthedocs

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
extra_javascript:
  - js/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
nav:
  - 'index.md'
  - 'theory_1.md'
  - 'theory_2.md'
  - 'hamiltonian.md'